@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-rgb: 255, 255, 255;
  --primary-text-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--primary-text-rgb));
  background: rgb(var(--primary-rgb));
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.demo-section-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
}

.demo-section-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
}

/* Investment Opportunity Card */
.invt-op-card-tag {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 120%;
  background: #262626;
  color: #FFFFFF;
}

.invt-op-card-logo {
  top: calc(50% - 1.5rem);
  right: 1rem;
}

.invt-op-card-company-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
}

.invt-op-card-company-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.invt-op-card-invt-now-button {  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  background: #D99D26;
}

/* Portoflio Container */
.port-container-title {
  background: #C38D22;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
}

.port-container-children {
  background: #F2F2F2;
}

/* Portfolio Thumbnail */
.port-thumbnail {
  min-width: 120px;
  height: 120px;
  width: 120px;
}

.port-thumbnail-with-markup {
  height: calc(120px + 1.5625rem);
}

.port-thumbnail-with-exit-return {
  height: calc(120px + 2.5rem);
}

.port-thumbnail-unicorn-tag,
.port-thumbnail-markup-tag,
.port-thumbnail-exit-tag,
.port-thumbnail-exit-return-tag {
  background: #C38D22;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
}

.port-thumbnail-markup-tag,
.port-thumbnail-exit-tag {
  width: 3.125rem;
  height: 3.125rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  bottom: 0;
  right: calc(50% - 1.5625rem);
}

.port-thumbnail-exit-return-tag {
  width: 5rem;
  height: 5rem;
  bottom: 0;
  right: calc(50% - 2.5rem);
  line-height: 130%;
}

.port-thumbnail-exit-return-tag-return {
  font-size: 1.2rem;
}